PORT=8000
NODE_ENV=production

# The directory where uploaded job and credit images are physically stored
UPLOAD_DIR=C:\dev\cibola2\public

# Database Connection Type (sqlite or mysql)
DB_CONNECTION=sqlite

# SQLite Connection Config
DB_PATH=C:\dev\cibola2\database.sqlite

# MySQL Connection Config
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=cibola
DB_USERNAME=root
DB_PASSWORD=

# Optional Slack integration webhook URL for app feedback
SLACK_WEBHOOK_URL=
